<div id="css-malevitch" class="css">
    <div id="bck-malevitch"></div>
    <div id="square-malevitch">
        <div id="body-square-malevitch"></div>
        <div id="top-square-malevitch"></div>
        <div id="right-square-malevitch"></div>
        <div id="right-bottom-square-malevitch"></div>
        <div id="left-bottom-square-malevitch"></div>
        <div id="left-square-malevitch"></div>
    </div>
</div>
<div id="ref-malevitch" class="ref">
    <img src="images/malevitchrotessquare.png" width="500px" height="500px">
</div>