<div id="up">
    <div id="title">
        <h2>Max Bill</h2>
    </div>
</div>

<div id="window">
    <ul id="gallery">
        <li id="next" class="tableau">
            <div id="css-next" class="css">
                <div id="bck-next"></div>
                <div id="fnt-next"><h2>To be continued</h2></div>
            </div>
            <!-- <div id="ref-next" class="ref">
                <img src="img/" width="500px" height="500px">
            </div>   -->
        </li>
    </ul>

</div>
<div id="down">
    <h3><a>Next</a></h3>
</div>
